{% extends "layout.html" %}

{% block content %}
  <h3>{{ pageFound.title }} <small> (<a href="{{ pageFound.urlTitle }}/similar">Similar</a>)</small></h3>
  <h4>by <a href="/user/{{ user.id }}">{{ user.name }}</a></h4>
  <div>{{ pageFound.tags }}</div>
  <hr/>
  <!-- <div>PLACEHOLDER AUTHOR NAME WITH LINK TO AUTHOR PAGE</div> -->
  <div class="page-body">{{ pageFound.content }}</div>
  <hr/>
  <a href="{{ pageFound.route }}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{ pageFound.urlTitle }}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
